POSTGRES_HOST=db
POSTGRES_USER=liquid_feedback                                                                                                                                                                               
POSTGRES_PASSWORD=liquid                                                                                                                                                                                    
POSTGRES_DB=liquid_feedback
NULLMAILER_USER=lq@toranm.me
NULLMAILER_NAME=LiquidFeedback Docker
NULLMAILER_FLAGS=f